@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


.App {
    --header_height: 60px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px;
    background-color: #cc0000;

}

.hw {
    padding-top: 24px;
    padding-bottom: 32px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
}

.hwTitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;

}