.friendMessage {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}

.friendImageAndText {

}

.friendImageAndText img {
    max-width: 48px;
}

.friendText {


}

.friendText:after {

}

.friendName {
    font-weight: 600;

}

.friendMessageText {

}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
}
